<div class="container">





<div class="card text-center ml-auto mr-auto mb-5" style="width: 20rem;">
    <div class="card-body">
        <h4 class="card-title"><%= @user.username %></h4>
        <h4 class="card-title"><%= @user.email %></h4>
	</div>




		
    
    



   

    <div class="text-center mb-5">
        <%= link_to 'Back', root_path, {:class => "btn btn-outline-secondary"} %>

        <%= link_to 'Edit', edit_user_path(@user), {:class => "btn btn-outline-primary"} %>
    </div>



</div>