/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar {
  background-color: #f53f85;
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}

.show-main{
	display: flex;
	justify-content: center;
}
.show-container{
	flex-direction: column;
	width: 600px;
	background-color: #d3d3d3;
}

.comment-col{
	background-color: #d3d3d3;
	height: 447px;
	max-width: 19%;
	padding: 0;
}

.scrollbar{
	background-color: white;
	overflow-y: scroll;
	height: 415px;
	width: 293px;
	margin: 0;
	padding: 0;
}


.commenting{
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;

}