.card-img-top {
  max-width: auto;
  height: auto;
  object-fit: cover;
}
.container {
  position: relative;
}

.post-img {
  width: 318px;
  height: 300px;
}
.active-pink-3 active-pink-4 mb-4 {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}

.search-form {
  text-align: center;
}

.advanced-search {
  text-align: center;
  margin-bottom: 1rem;
}

.advanced-search {
  padding-left: 25rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.center-block {
  float: none;
}
