.card-img-top {
  max-width: auto;
  height: auto;
}
    max-width: auto;
    height: auto;
}

.active-pink-3 active-pink-4 mb-4 {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
  }

  .search-form {
    padding-left: 21rem;
  }

  .advanced-search {
    padding-left: 25rem;
  }