.log-in-container {
	position: absolute;
	right: 220px;
  margin-top: 2rem;
  padding-right: 17rem;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 600px;
}

.foodnews-image {
    float: left;
    width: 45rem;
    padding-left: 4rem;
}